// Core
$core-salmon: #EF6461;
$core-orange: #E4B363;
$core-eggshell: #E8E9EB;
$core-gray: #E0DFD5;
$core-dark: #313638;

// Alt

$dark-salmon: #c9524e;
$light-salmon: #d69897;
$dark-orange: #cc9e55;
$alt-purple: #533f8f;
$pale-purple: #c2b8e0;
$alt-gray: #607d8b;
$alt-light-gray: #b4c3cb;
