@import '_colors';

body {
  background-color: $core-dark;
  font-family: "Karla", sans-serif;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.spacer {
  color: transparent;
  background-color: transparent;
}

.spacer-row {
  margin-top: 1rem;
  color: transparent;
}

.menu-text {
  font-size: 1.3rem;
  color: $core-dark !important;
}

.nav-bar {
  padding: 0px;
}

.top-bar {
  padding: 0px;
  background-color: $core-eggshell;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.top-bar ul {
  background-color: $core-eggshell;
}

.menu-link.google-sign-in {
  border-top-right-radius: 10px;
  border-top-color: transparent;
}

.menu-link.sign-out {
  border-top-right-radius: 10px;
  border-top-color: transparent;
  border: 2px solid transparent;
  border-top: 0px;
}

.menu {
  border-top-right-radius: 200px;
  border-top-color: transparent;
}

.menu-link {
  margin: 0px;
  border: none;
  color: white;
  font-weight: bold;
  border: 2px solid transparent;
  font-size: 1rem;
}

.menu-link:hover {
  background-color: $core-dark;
  color: $core-eggshell;
  border-bottom: 2px solid $core-salmon;
  border-top: 0px solid transparent;
  border-top-right-radius: 0px;
}

.sign-up {
  background-color: $core-orange;
}

.sign-in {
  background-color: $alt-purple;
}

.sign-out {
  background-color: $core-salmon;
}

.google-sign-in {
  background-color: $core-salmon;
}
