@import '_colors';

.app-wrapper {
  border-color: transparent;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: orange;
}

.list-wrapper {
  padding: 0px;
  height: 89%;
}

.task-wrapper {
  border-left: 1rem solid $core-eggshell;
  padding: 0px;
  height: 89%;
}

.list-bar {
  height: 90%;
  border: none;
  border-top: 6px solid $core-dark;
  padding: 0rem;
  padding-top: 4px;
  padding-right: .9rem;
  background-color: $core-dark;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: scroll;
  direction: rtl;
}

.task-bar {
  height: 90%;
  border: none;
  border-top: 6px solid $core-dark;
  padding: 0rem;
  padding-top: 4px;
  padding-right: .9rem;
  background-color: $core-dark;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 10px;
  overflow: scroll;
  direction: rtl;
  text-align: left;
}

.list-bar::-webkit-scrollbar {
  background-color: $core-dark;
  border-radius: 10px;
}

.list-bar::-webkit-scrollbar-corner {
  border-radius: 10px;
}

.list-bar::-webkit-scrollbar-thumb {
  background-color: $core-gray;
  border: 4px solid $core-dark;
  border-radius: 10px;
}

.task-bar::-webkit-scrollbar {
  background-color: $core-dark;
  border-radius: 10px;
}

.task-bar::-webkit-scrollbar-corner {
  border-radius: 10px;
}

.task-bar::-webkit-scrollbar-thumb {
  background-color: $core-gray;
  border: 4px solid $core-dark;
  border-radius: 10px;
}

.list-header-text {
  padding: 0px;
}

.list-header-new {
  font-weight: bold;
  padding: 0px;
  text-align: center;
  background-color: $core-dark;
  color: white;
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.list-header-new:hover {
  background-color: white;
  color: $core-salmon;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.list-header {
  background-color: $core-salmon;
  color: white;
  border: 0px;
  border-bottom: 3px solid $core-dark;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.task-header {
  background-color: $alt-purple;
  color: white;
  border: 0px;
  border-bottom: 3px solid $core-dark;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.list-tile {
  padding: 0px;
  font-size: 1.1rem;
  border: transparent;
  border-radius: 4px;
  background-color: white;
  color: $alt-purple;
  font-weight: bold;
  text-align: left;
  direction: ltr;
}

.list-text {
  padding: 1rem;
}

.list-tile:hover {
  background-color: $core-orange;
  color: white;
}

.task-tile {
  font-size: 1.1rem;
  border: 0px;
  border-radius: 4px;
  background-color: white;
  color: $core-dark;
  text-align: left;
  direction: ltr;
}

.task-tile:hover {
  background-color: $core-eggshell;
  color: black;
}

.selected-list {
  background-color: $alt-purple;
  color: $core-eggshell;
}

.selected-list:hover {
  background-color: $alt-purple;
  color: $core-eggshell;
}

.selected-task:hover {
  background-color: white;
}

.task-name {
  font-weight: bold;
}

.selected-task-name {
  font-weight: bold;
  padding-bottom: .75rem;
  color: $core-salmon;
}

.task-notes {
  border-radius: 5px;
}

.submit-new {
  padding: 1rem;
  font-size: 1.2rem !important;
  font-weight: bold !important;
  text-align: center;
  background-color: $alt-purple;
  color: white;
  border: none;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in;
  text-align: left;
  direction: ltr !important;
  margin-bottom: 1rem !important;
}

.submit-new:hover {
  background-color: $core-orange;
  color: white;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.submit-edit {
  padding: 1rem;
  font-size: 1rem !important;
  font-weight: bold !important;
  text-align: center;
  background-color: $core-dark;
  color: white;
  border: none;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in;
  text-align: left;
  direction: ltr !important;
  margin-bottom: 0px !important;
}

.submit-edit:hover {
  background-color: $core-orange;
  color: white;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.input-group-field {
  border: 2px solid $core-eggshell;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  direction: ltr;
  margin-bottom: 0px;
}

.input-group {
  animation-name: slide-in;
  animation-duration: .7s;
  margin-bottom: 0px;
}

@keyframes slide-in {
  from { width: 20% }
  to { width: 100% }
}

.list-delete {
  border: 1px solid;
  border-color: inherit;
  font-weight: bold;
  padding: 5px;
  margin-top: .7rem;
  text-align: center;
  background-color: transparent;
  color: inherit;
  border-radius: 4px;
}

.list-delete:hover {
  border-color: transparent;
  background-color: white;
  color: $core-salmon;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.edit-form-container {
  padding-left: .5rem;
}

.edit-form {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.new-task-form {
  background-color: $core-eggshell;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.new-task-label {
  padding: .45rem;
  background-color: $core-dark;
  color: white;
  font-weight: bold;
  border-radius: 4px !important;
  border: 0px;
  text-align: center;
}

.submit-new-task {
  border-radius: 6px;
  border: 0px;
  background-color: $core-salmon;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0px;
  padding: .6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.submit-new-task:hover {
  background-color: white;
  color: $core-salmon
}
